#VALUES TO LEAVE ALONE (PROBABLY)

# ------------------------- VARS FOR LOCAL VALIDATOR ----------------------
# # For local RabbitMQ
# RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
# #flag that allows missing blocktimes to be replaced with current time
# #this is needed when using local validator because confirmooor isnt used
# NO_CONFIRMOOOR=1
# RABBITMQ_EXCHANGE=mainnet.processed.messages
# -------------------------------------------------------------------------


# ------------------------- VARS FOR DEV FEED -----------------------------
# add user/pass and url here
RABBITMQ_URL=amqps://<USER>:<PASSWORD>@<RABBIT_URL>:5671
RABBITMQ_EXCHANGE=ingestooor.schema
RABBITMQ_PREFETCH=1000

RUST_LOG=debug